<ion-header [translucent]="false" style="box-shadow: none;">
  <ion-toolbar color="bg" style="--border-width: 0 0;">
    <ion-buttons slot="start" routerLink="/tabs">
      <div class="icon">
        <ion-icon name="chevron-back" style="font-size: 24px;color: var(--ion-color-txt);" />
      </div>
    </ion-buttons>
    <ion-title class="b18" style="text-align: center;">Withdraw</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="list boxo">
    <div class="icon2" style="border-radius: 30px;">
      <ion-img src="../../../../assets/image/s46.png" style="height: 32px;width: 32px;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="s16">Bank of America</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="m12" style="color: var(--ion-color-dis);">**** **** **** 1990</ion-text>
      </div>
    </div>
    <ion-icon name="chevron-down" style="font-size: 20px;color: #9CA3AF;" />
  </div>

  <div class="input" style="margin-top: 15px;">
    <ion-input placeholder="$ 5,250" />
  </div>

  <div class="ion-text-center" style="margin-top: 10px;">
    <ion-text class="r14" style="color: var(--ion-color-dis);">Maximum $10,250.00</ion-text>
  </div>

  <div class="list" style="margin-top: 15px;">
    <div class="chip" style="flex: 1;">
      <ion-text class="s14">10%</ion-text>
    </div>
    <div class="chip" style="flex: 1;margin: 0 10px;">
      <ion-text class="s14">50%</ion-text>
    </div>
    <div class="chip" style="flex: 1;">
      <ion-text class="s14">70%</ion-text>
    </div>
    <div class="chip" style="flex: 1;background-color: #2FA2B9;margin-left: 10px;">
      <ion-text class="s14" style="color: #fff;">100%</ion-text>
    </div>
  </div>

  <ion-modal cssClass="rbsheet" trigger="open-modal2" [initialBreakpoint]="0.65" [breakpoints]="[0, 0.65]"
    handleBehavior="cycle">
    <ng-template>
      <ion-content class="ion-padding">

        <ion-text class="b18">Select your bank</ion-text>

        <div class="boxo list" style="margin-top: 20px;">
          <div class="icon2" style="border-radius: 30px;">
            <ion-img src="../../../../assets/image/s46.png" style="height: 32px;width: 32px;" />
          </div>
          <div style="margin-left: 12px;flex: 1;">
            <ion-text class="s16">Bank of America</ion-text>
            <div style="margin-top: 5px;">
              <ion-text class="m12" style="color: var(--ion-color-dis);">**** **** **** 1990</ion-text>
            </div>
          </div>
          <ion-icon name="checkmark-circle" style="font-size: 20px;color: #2FA2B9;" />
        </div>

        <div class="box list" style="margin-top: 20px;">
          <ion-img [src]="darkMode?'../../../../assets/image/s47d.png':'../../../../assets/image/s47.png'"
            style="height: 20px;width: 20px;" />
          <ion-text class="b16" style="margin-left: 12px;flex: 1;">Add new bank</ion-text>
          <ion-icon name="chevron-forward" style="font-size: 20px;color: var(--ion-color-txt);" />
        </div>

        <ion-button (click)="close()" expand="block" style="margin-top: 30px;">Confirm</ion-button>

      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>

<ion-footer [translucent]="false" style="box-shadow: none;">
  <ion-toolbar color="bg" style="--border-width: 0 0;">
    <ion-button id="open-modal2" expand="block">Withdraw</ion-button>
  </ion-toolbar>
</ion-footer>