<ion-header [translucent]="false" style="box-shadow: none;">
  <ion-toolbar color="bg" style="--border-width: 0 0;">
    <ion-buttons slot="start" routerLink="/mtopup">
      <div class="icon">
        <ion-icon name="chevron-back" style="font-size: 24px;color: var(--ion-color-txt);" />
      </div>
    </ion-buttons>
    <ion-title class="b18" style="text-align: center;">Phonebook</ion-title>
  </ion-toolbar>
  <div class="input" style="margin: 10px 15px;">
    <ion-icon routerLink="/psearch" name="search-outline" style="font-size: 24px;color: var(--ion-color-txt);" />
    <ion-input placeholder="Search" style="margin-left: 12px;flex: 1;" />
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-text class="b18">Recent contacts</ion-text>

  <div class="list" style="margin-top: 20px;">
    <ion-img src="../../../../assets/image/s62.png" style="height: 56px;width: 56px;" />
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="s16">Maria Sevchenko</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="r14" style="color: var(--ion-color-dis);">(316) 555-0116</ion-text>
      </div>
    </div>
  </div>

   <div class="list" style="margin-top: 20px;">
    <ion-img src="../../../../assets/image/s63.png" style="height: 56px;width: 56px;" />
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="s16">Andrade Alexander Bade</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="r14" style="color: var(--ion-color-dis);">(201) 555-0124</ion-text>
      </div>
    </div>
  </div>

   <div class="list" style="margin-top: 20px;">
    <ion-img src="../../../../assets/image/s64.png" style="height: 56px;width: 56px;" />
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="s16">Michelle Princess</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="r14" style="color: var(--ion-color-dis);">(209) 555-0104</ion-text>
      </div>
    </div>
  </div>

  <div class="lines"></div>

   <ion-text class="b18">All Contacts</ion-text>

   <div class="list" style="margin-top: 20px;">
    <ion-img src="../../../../assets/image/s65.png" style="height: 56px;width: 56px;" />
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="s16">Gladys Chou</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="r14" style="color: var(--ion-color-dis);">(704) 555-0127</ion-text>
      </div>
    </div>
  </div>

   <div class="list" style="margin-top: 20px;">
    <ion-img src="../../../../assets/image/s66.png" style="height: 56px;width: 56px;" />
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="s16">Mitchell Angela</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="r14" style="color: var(--ion-color-dis);">(702) 555-0122</ion-text>
      </div>
    </div>
  </div>

   <div class="list" style="margin-top: 20px;margin-bottom: 20px;">
    <ion-img src="../../../../assets/image/s67.png" style="height: 56px;width: 56px;" />
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="s16">Xia Chung Ling</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="r14" style="color: var(--ion-color-dis);">**** **** **** 3666</ion-text>
      </div>
    </div>
  </div>

</ion-content>