<ion-content [fullscreen]="true" class="ion-padding">

  <div class="column" style="align-items: center;margin-top: 20px;margin-bottom: 20px;">
    <ion-img [src]="darkMode?'../../../../assets/image/s20d.png':'../../../../assets/image/s20.png'"
      style="height: 300px;width: 260px;" />
  </div>

  <ion-text class="title">Create your Smartpay Card</ion-text>
  <div style="margin-top: 10px;">
    <ion-text class="r16" style="color: var(--ion-color-dis);">The customizable, no hidden fee, instant discount debit or credit card</ion-text>
  </div>

  <ion-button routerLink="/ncard" expand="block" style="margin: 20px 0;">Get Free Card</ion-button>

</ion-content>