<ion-header [translucent]="false" style="box-shadow: none;background-color: #171725;">
  <ion-toolbar style="--border-width: 0 0;--background: #171725;">
    <ion-buttons slot="start" routerLink="/tabs">
      <div class="icon" style="border-color: #E5E7EB50;">
        <ion-icon name="chevron-back" style="font-size: 24px;color: #fff;" />
      </div>
    </ion-buttons>
    <ion-title class="b18" style="text-align: center;color: #fff;">Smarty Help</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-img src="../../../../assets/image/s74.png" style="height: 48px;width: 48px;" />

  <div class="box" style="margin-top: 15px;width: 80%;border-top-left-radius: 0;">
    <ion-text class="m14">Hello! my name is Smarty before we start, what is your name?</ion-text>
  </div>

  <div class="column" style="align-items: flex-end;margin-top: 15px;">
    <div class="box" style="border-top-right-radius: 0;background-color: var(--ion-color-txt);">
      <ion-text class="m14" style="color: var(--ion-color-bg);">Anabella Angela</ion-text>
    </div>
  </div>

  <div class="box" style="margin-top: 15px;width: 80%;border-top-left-radius: 0;">
    <ion-text class="m14">Hello! <ion-text class="m14" style="color: #2FA2B9;">Angela</ion-text> 👋. I can converse in
      your preferred language. How may I help you today?</ion-text>
  </div>

  <div class="column" style="align-items: flex-end;margin-top: 15px;">
    <div class="box" style="border-top-right-radius: 0;background-color: var(--ion-color-txt);">
      <ion-text class="m14" style="color: var(--ion-color-bg);">How to create a<br />Smartpay account?</ion-text>
    </div>
  </div>

  <div class="column" style="align-items: flex-end;margin-top: 15px;">
    <div class="box list" style="border-top-right-radius: 0;background-color: var(--ion-color-txt);">
      <ion-img [src]="darkMode?'../../../../assets/image/s75d.png':'../../../../assets/image/s75.png'"
        style="height: 40px;width: 40px;" />
      <div style="margin-left: 12px;flex: 1;">
        <ion-text class="m14" style="color: var(--ion-color-bg);">Registration.zip</ion-text>
        <div>
          <ion-text class="r12" style="color: #9CA3AF;">200kb</ion-text>
        </div>
      </div>
    </div>
  </div>

  <div class="box list" style="margin-top: 15px;width: 85px;border-top-left-radius: 0;">
    <div class="dot"></div>
    <div class="dot" style="margin-left: 5px;margin-top: -6px;"></div>
    <div class="dot" style="margin-left: 5px;"></div>
    <div class="dot" style="margin-left: 5px;"></div>
    <div class="dot" style="margin-left: 5px;"></div>
  </div>

</ion-content>

<ion-footer [translucent]="false" style="box-shadow: none;">
  <ion-toolbar color="bg" style="--border-width: 0 0;">
    <div *ngIf="show" class="box list" style="width: 120px;border-bottom-left-radius: 0;margin-bottom: 10px;">
      <ion-icon name="document-text" style="font-size: 24px;color: #5FA8EE;" />
      <ion-icon name="image" style="font-size: 24px;color: #FB923C;margin: 0 10px;" />
      <ion-icon name="mic" style="font-size: 24px;color: #AB92F0;" />
    </div>
    <div class="list">
      <div (click)="setshow()" class="icon2" [style.backgroundColor]="show?'#0A6375':'var(--ion-color-fb)'"
        style="height: 56px;width: 56px;">
        <ion-icon *ngIf="show" name="close" style="font-size: 24px;color: #fff;" />
        <ion-icon *ngIf="!show" name="link-outline" style="font-size: 24px;color: var(--ion-color-txt);" />
      </div>
      <div class="input" style="margin-left: 10px;flex: 1;">
        <ion-input placeholder="Type here..." style="flex: 1;" />
        <ion-icon name="chevron-forward" style="font-size: 20px;color: #2FA2B9;margin-right:-8px ;" />
        <ion-icon name="chevron-forward" style="font-size: 20px;color: #2FA2B9;" />
      </div>
    </div>
  </ion-toolbar>
</ion-footer>