<ion-header [translucent]="false" style="box-shadow: none;">
  <ion-toolbar color="bg" style="--border-width: 0 0;">
    <ion-buttons slot="start" routerLink="/tabs">
      <div class="icon">
        <ion-icon name="chevron-back" style="font-size: 24px;color: var(--ion-color-txt);" />
      </div>
    </ion-buttons>
    <ion-title class="b18" style="text-align: center;">Show QR Code</ion-title>
    <ion-buttons slot="end">
      <div class="icon">
        <ion-icon name="ellipsis-horizontal" style="font-size: 24px;color: var(--ion-color-txt);" />
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="box list">
    <ion-img src="../../../../assets/image/s36.png" style="height: 48px;width: 48px;" />
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="r14">Anabella Angela</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="m12" style="color: var(--ion-color-dis);">**** **** **** 1990</ion-text>
      </div>
    </div>
    <ion-icon name="chevron-down" style="font-size: 20px;color:#9CA3AF;" />
  </div>

  <div class="column" style="align-items: center;margin-top: 30px;">
    <ion-img [src]="darkMode?'../../../../assets/image/s37d.png':'../../../../assets/image/s37.png'" />
  </div>

</ion-content>

<ion-footer [translucent]="false" style="box-shadow: none;">
  <ion-toolbar color="bg" style="--border-width: 0 0;">
    <div class="column" style="align-items: center;">
      <ion-icon name="alert-circle-outline" style="font-size: 24px;color: #2FA2B9;" />
    </div>
    <div class="ion-text-center" style="margin-top: 12px;">
      <ion-text class="m12">This is a single-use code for your use only. Get a new code each time you pay with
        smartpay</ion-text>
    </div>
  </ion-toolbar>
</ion-footer>