ion-tabs {

    // --------------Custom Semi Transparent & Rounded Tabs----------------------
    ion-tab-bar {
        position: absolute;
        height: 65px;
        bottom: 0;
        width: 100%;
        --background: var(--ion-color-bg);
        // border-radius: 20px 20px 0 0;
        --border: 0;

        ion-tab-button {
            --background: var(--ion-color-bg);
            --color: #6B7280;
            --color-selected: var(--ion-color-txt);

            font-size: 10px;
            font-family: SF-Pro-Display-Medium;
        }
    }
}