<ion-header [translucent]="false" style="box-shadow: none;">
  <ion-toolbar color="bg" style="--border-width: 0 0;">
    <ion-buttons slot="start" routerLink="/setting">
      <div class="icon">
        <ion-icon name="chevron-back" style="font-size: 24px;color: var(--ion-color-txt);" />
      </div>
    </ion-buttons>
    <ion-title class="b18" style="text-align: center;">Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-text class="b16" style="color: var(--ion-color-dis);">Today</ion-text>

  <div class="list2" style="margin-top: 20px;">
    <div class="icon2">
      <ion-img src="../../../../assets/image/s84.png" style="height: 26px;width: 26px;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="b14">Rewards</ion-text>
      <div style="margin-top: 3px;">
        <ion-text class="r12" style="color: var(--ion-color-dis);">Loyal user rewards!😘</ion-text>
      </div>
    </div>
    <ion-text class="r12" style="color: var(--ion-color-dis);">1m ago</ion-text>
  </div>

  <div class="list2" style="margin-top: 20px;margin-bottom: 20px;">
    <div class="icon2">
      <ion-img src="../../../../assets/image/s85.png" style="height: 26px;width: 26px;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="b14">Money Transfer</ion-text>
      <div style="margin-top: 3px;">
        <ion-text class="r12" style="color: var(--ion-color-dis);">You have successfully sent money to Maria of...</ion-text>
      </div>
    </div>
    <ion-text class="r12" style="color: var(--ion-color-dis);">10m ago</ion-text>
  </div>

  <ion-text class="b16" style="color: var(--ion-color-dis);">This Week</ion-text>

  <div class="list2" style="margin-top: 20px;">
    <div class="icon2">
      <ion-icon name="card-outline" style="font-size: 24px;color: #AB92F0;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="b14">Payment Notification</ion-text>
      <div style="margin-top: 3px;">
        <ion-text class="r12" style="color: var(--ion-color-dis);">Successfully paid!🤑</ion-text>
      </div>
    </div>
    <ion-text class="r12" style="color: var(--ion-color-dis);">Dec 23</ion-text>
  </div>

   <div class="list2" style="margin-top: 20px;">
    <div class="icon2">
      <ion-img src="../../../../assets/image/s86.png" style="height: 26px;width: 26px;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="b14">Top Up</ion-text>
      <div style="margin-top: 3px;">
        <ion-text class="r12" style="color: var(--ion-color-dis);">Your top up is successfully!</ion-text>
      </div>
    </div>
    <ion-text class="r12" style="color: var(--ion-color-dis);">Dec 20</ion-text>
  </div>

  <div class="list2" style="margin-top: 20px;">
    <div class="icon2">
      <ion-img src="../../../../assets/image/s85.png" style="height: 26px;width: 26px;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="b14">Money Transfer</ion-text>
      <div style="margin-top: 3px;">
        <ion-text class="r12" style="color: var(--ion-color-dis);">You have successfully sent money to Maria of...</ion-text>
      </div>
    </div>
    <ion-text class="r12" style="color: var(--ion-color-dis);">Dec 20</ion-text>
  </div>

  <div class="list2" style="margin-top: 20px;">
    <div class="icon2">
      <ion-img src="../../../../assets/image/s87.png" style="height: 26px;width: 26px;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="b14">Cashback 25%</ion-text>
      <div style="margin-top: 3px;">
        <ion-text class="r12" style="color: var(--ion-color-dis);">You have successfully sent money to Maria of...</ion-text>
      </div>
    </div>
    <ion-text class="r12" style="color: var(--ion-color-dis);">Dec 20</ion-text>
  </div>

  <div class="list2" style="margin-top: 20px;margin-bottom: 20px;">
    <div class="icon2">
      <ion-icon name="card-outline" style="font-size: 24px;color: #FB923C;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="b14">Payment Notification</ion-text>
      <div style="margin-top: 3px;">
        <ion-text class="r12" style="color: var(--ion-color-dis);">Successfully paid!🤑</ion-text>
      </div>
    </div>
    <ion-text class="r12" style="color: var(--ion-color-dis);">Dec 19</ion-text>
  </div>

</ion-content>