<ion-content [fullscreen]="true" routerLink="/qrcode" [class]="darkMode?'bgd':'bg'">

  <div class="list" style="margin: 20px;margin-top: 45px;">
    <div routerLink="/tabs" class="icon" style="border-color: #FFFFFF25;background-color: #FFFFFF15;">
      <ion-icon name="chevron-back" style="font-size: 24px;color: #fff;" />
    </div>
    <ion-text class="b18" style="color: #fff;text-align: center;display: block;flex: 1;">Scan QR Code</ion-text>
    <div class="icon" style="border-color: #FFFFFF25;background-color: #FFFFFF15;">
      <ion-icon name="ellipsis-horizontal" style="font-size: 24px;color: #fff;" />
    </div>
  </div>

</ion-content>