<ion-header [translucent]="false" style="box-shadow: none;">
  <div style="padding: 20px;background-color: #0A6375;padding-top: 45px;">
    <div routerLink="/tabs" class="icon" style="border-color: #E5E7EB50;">
      <ion-icon name="chevron-back" style="font-size: 24px;color: #fff;" />
    </div>
    <div class="list" style="margin-top: 20px;">
      <div style="flex: 1;">
        <ion-text class="r14" style="color: #fff;">Current balance</ion-text>
        <div class="list" style="margin: 8px 0;">
          <ion-text class="title" style="color: #fff;margin-right: 12px;">$10,250.00</ion-text>
          <ion-icon name="eye-outline" style="font-size: 24px;color: #fff;" />
        </div>
        <ion-text class="m14" style="color: #fff;">Bank account : 2344 7368 2530 1990 </ion-text>
      </div>
      <ion-img src="../../../../assets/image/s51.png" style="height: 48px;width: 48px;" />
    </div>
  </div>

</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-text class="b16">Today, Dec 29</ion-text>

  <div routerLink="/thisd" class="list" style="margin-top: 20px;">
    <div class="icon2">
      <ion-img src="../../../../assets/image/s52.png" style="height: 26px;width: 26px;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="b14">Smartpay UI Kit</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="m12" style="color: var(--ion-color-dis);">UI8.net</ion-text>
      </div>
    </div>
    <ion-text class="b14">- $99.00</ion-text>
  </div>

  <div class="lines"></div>

  <div class="list" routerLink="/thisd">
    <div class="icon2">
      <ion-img src="../../../../assets/image/s32.png" style="height: 26px;width: 26px;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="b14">Gym</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="m12" style="color: var(--ion-color-dis);">Payment</ion-text>
      </div>
    </div>
    <ion-text class="b14">- $45.99</ion-text>
  </div>

  <div class="lines"></div>

  <div class="list" routerLink="/thisd" style="margin-bottom: 20px;">
    <div class="icon2">
      <ion-img src="../../../../assets/image/s33.png" style="height: 26px;width: 26px;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="b14">Bank of America</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="m12" style="color: var(--ion-color-dis);">Deposit</ion-text>
      </div>
    </div>
    <ion-text class="b14" style="color: #2FA2B9;">+ $1,328.00</ion-text>
  </div>

  <ion-text class="b14">Yesterday, Dec 28</ion-text>

  <div routerLink="/thisd" class="list" style="margin-top: 20px;">
    <div class="icon2">
      <ion-img src="../../../../assets/image/s53.png" style="height: 26px;width: 26px;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="b14">Bitcoin</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="m12" style="color: var(--ion-color-dis);">Deposit</ion-text>
      </div>
    </div>
    <ion-text class="b14">- $2,550.99</ion-text>
  </div>

  <div class="lines"></div>

  <div class="list" routerLink="/thisd">
    <div class="icon2">
      <ion-img src="../../../../assets/image/s54.png" style="height: 26px;width: 26px;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="b14">Paypal</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="m12" style="color: var(--ion-color-dis);">Freelance</ion-text>
      </div>
    </div>
    <ion-text class="b14" style="color: #2FA2B9;">+ $2,328.00</ion-text>
  </div>

  <div class="lines"></div>

  <div class="list" routerLink="/thisd" style="margin-bottom: 20px;">
    <div class="icon2">
      <ion-img src="../../../../assets/image/s55.png" style="height: 26px;width: 26px;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="b14">Spotify premium</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="m12" style="color: var(--ion-color-dis);">Payment</ion-text>
      </div>
    </div>
    <ion-text class="b14" style="color: #4ADE80;">- $24.00</ion-text>
  </div>

</ion-content>