<ion-header [translucent]="false" style="box-shadow: none;">
  <ion-toolbar color="bg" style="--border-width: 0 0;">
    <ion-buttons slot="start">
      <div class="icon">
        <ion-icon name="chevron-back" style="font-size: 24px;color: var(--ion-color-txt);" />
      </div>
    </ion-buttons>
    <ion-title class="b18" style="text-align: center;">Activity</ion-title>
    <ion-buttons slot="end">
      <div class="icon">
        <ion-icon name="ellipsis-horizontal" style="font-size: 24px;color: var(--ion-color-txt);" />
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="scroll list">
    <div>
      <div routerLink="/bank" class="box list" style="background-color: #0A6375;width: 280px;">
        <ion-text class="s14" style="color: #fff;flex: 1;">Smartpay Cards</ion-text>
        <ion-text class="s14" style="color: #fff;">**** 1990</ion-text>
        <ion-img src="../../../../assets/image/s70.png" style="height: 24px;width: 40px;margin-left: 5px;" />
      </div>
    </div>
    <div>
      <div routerLink="/bank" class="box list" style="background-color: #1D2734;width: 280px;margin-left: 10px;">
        <ion-text class="s14" style="color: #fff;flex: 1;">Smartpay Cards</ion-text>
        <ion-text class="s14" style="color: #fff;">**** 1990</ion-text>
        <ion-img src="../../../../assets/image/s70.png" style="height: 24px;width: 40px;margin-left: 5px;" />
      </div>
    </div>
  </div>

  <div class="boxo"
    style="border-color: var(--ion-color-boxl);background-color: var(--ion-color-box);padding: 0;margin-top: 20px;padding-bottom: 10px;">
    <div style="padding: 15px;">
      <div class="ion-text-center">
        <ion-text class="m14" style="color: var(--ion-color-dis);">Total Spending</ion-text>
      </div>
      <div class="ion-text-center" style="margin-top: 5px;">
        <ion-text class="apptitle">$6,345.00</ion-text>
      </div>
      <div class="list" style="margin-top: 10px;justify-content: space-evenly;">
        <ion-text class="m14" style="color: var(--ion-color-dis);">Day</ion-text>
        <div class="usd" style="background-color: #F9FAFB;">
          <ion-text class="m14" style="color: #2FA2B9;">Week</ion-text>
        </div>
        <ion-text class="m14" style="color: var(--ion-color-dis);">Month</ion-text>
        <ion-text class="m14" style="color: var(--ion-color-dis);">Year</ion-text>
      </div>
    </div>
    <ion-img [src]="darkMode?'../../../../assets/image/s71d.png':'../../../../assets/image/s71.png'" />
  </div>

  <div class="list" style="margin-top: 20px;">
    <ion-text class="b14" style="flex: 1;">Transaction</ion-text>
      <ion-text class="m14" style="margin-right: 5px;">All</ion-text>
      <ion-icon name="chevron-down" style="font-size: 14px;color: #2FA2B9;" />
  </div>

  <div class="list" style="margin-top: 20px;">
    <div class="icon2">
      <ion-img src="../../../../assets/image/s52.png" style="height: 26px;width: 26px;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="b14">Smartpay UI Kit</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="m12" style="color: var(--ion-color-dis);">UI8.net</ion-text>
      </div>
    </div>
    <ion-text class="b14">- $99.00</ion-text>
  </div>

  <div class="lines"></div>

  <div class="list">
    <div class="icon2">
      <ion-img src="../../../../assets/image/s32.png" style="height: 26px;width: 26px;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="b14">Gym</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="m12" style="color: var(--ion-color-dis);">Payment</ion-text>
      </div>
    </div>
    <ion-text class="b14">- $45.99</ion-text>
  </div>

  <div class="lines"></div>

   <div class="list">
    <div class="icon2">
      <ion-img src="../../../../assets/image/s33.png" style="height: 26px;width: 26px;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="b14">Bank of America</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="m12" style="color: var(--ion-color-dis);">Deposit</ion-text>
      </div>
    </div>
    <ion-text class="b14" style="color: #2FA2B9;">+ $1,328.00</ion-text>
  </div>

  <div class="lines"></div>

  <div class="list">
    <div class="icon2">
      <ion-img src="../../../../assets/image/s53.png" style="height: 26px;width: 26px;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="b14">Bitcoin</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="m12" style="color: var(--ion-color-dis);">Deposit</ion-text>
      </div>
    </div>
    <ion-text class="b14">- $2,550.99</ion-text>
  </div>

  <div class="lines"></div>

  <div class="list">
    <div class="icon2">
      <ion-img src="../../../../assets/image/s54.png" style="height: 26px;width: 26px;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="b14">Paypal</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="m12" style="color: var(--ion-color-dis);">Freelance</ion-text>
      </div>
    </div>
    <ion-text class="b14" style="color: #2FA2B9;">+ $2,328.00</ion-text>
  </div>

   <div class="lines"></div>

  <div class="list" style="margin-bottom: 100px;">
    <div class="icon2">
      <ion-img src="../../../../assets/image/s55.png" style="height: 26px;width: 26px;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="b14">Spotify premium</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="m12" style="color: var(--ion-color-dis);">Payment</ion-text>
      </div>
    </div>
    <ion-text class="b14">- $24.00</ion-text>
  </div>

</ion-content>