<ion-header [translucent]="false" style="box-shadow: none;">
  <ion-toolbar color="bg" style="--border-width: 0 0;">
    <ion-buttons slot="start" routerLink="/this">
      <div class="icon">
        <ion-icon name="chevron-back" style="font-size: 24px;color: var(--ion-color-txt);" />
      </div>
    </ion-buttons>
    <ion-title class="b18" style="text-align: center;">Spotify</ion-title>
    <ion-buttons slot="end">
      <div class="icon">
        <ion-icon name="ellipsis-horizontal" style="font-size: 24px;color: var(--ion-color-txt);" />
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="list">
    <div style="flex: 1;">
      <ion-text class="apptitle">$498.66</ion-text>
      <div class="list">
        <ion-icon name="arrow-down-outline" style="font-size: 20px;color:#F75555;" />
        <ion-text class="m12" style="margin: 0 12px;color: #F75555;">35,5%</ion-text>
        <ion-text class="r12" style="color: var(--ion-color-dis);">from last month</ion-text>
      </div>
    </div>
    <div class="icon" style="height: 32px;width: 32px;border-radius: 8px;">
      <ion-img src="../../../../assets/image/s56.png" style="height: 18px;width: 18px;" />
    </div>
    <div class="num" style="background-color: var(--ion-color-lines);margin-left: 5px;">
      <ion-img src="../../../../assets/image/s57.png" style="height: 18px;width: 18px;" />
    </div>
  </div>

  <ion-img src="../../../../assets/image/s58.png" style="margin: 15px 0;" />

  <div class="list1">
    <ion-text class="b18">All Transactions</ion-text>
    <ion-icon name="search-outline" style="font-size: 24px;color: #2FA2B9;" />
  </div>

  <div class="list" style="margin-top: 20px;">
    <div class="icon2">
      <ion-img src="../../../../assets/image/s55.png" style="height: 26px;width: 26px;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="b14">Spotify premium</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="m12" style="color: var(--ion-color-dis);">Payment</ion-text>
      </div>
    </div>
    <div class="column" style="align-items: flex-end;">
      <ion-text class="b14">- $24.00</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="m12" style="color: var(--ion-color-dis);">December 28</ion-text>
      </div>
    </div>
  </div>

  <div class="lines"></div>

  <div class="list">
    <div class="icon2">
      <ion-img src="../../../../assets/image/s55.png" style="height: 26px;width: 26px;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="b14">Spotify premium</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="m12" style="color: var(--ion-color-dis);">Payment</ion-text>
      </div>
    </div>
    <div class="column" style="align-items: flex-end;">
      <ion-text class="b14">- $124.00</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="m12" style="color: var(--ion-color-dis);">December 28</ion-text>
      </div>
    </div>
  </div>

  <div class="lines"></div>

  <div class="list">
    <div class="icon2">
      <ion-img src="../../../../assets/image/s55.png" style="height: 26px;width: 26px;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="b14">Spotify premium</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="m12" style="color: var(--ion-color-dis);">Payment</ion-text>
      </div>
    </div>
    <div class="column" style="align-items: flex-end;">
      <ion-text class="b14">- $54.00</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="m12" style="color: var(--ion-color-dis);">December 28</ion-text>
      </div>
    </div>
  </div>

  <div class="lines"></div>

  <div class="list" style="margin-bottom: 20px;"> 
    <div class="icon2">
      <ion-img src="../../../../assets/image/s55.png" style="height: 26px;width: 26px;" />
    </div>
    <div style="margin-left: 12px;flex: 1;">
      <ion-text class="b14">Spotify premium</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="m12" style="color: var(--ion-color-dis);">Payment</ion-text>
      </div>
    </div>
    <div class="column" style="align-items: flex-end;">
      <ion-text class="b14">- $65.00</ion-text>
      <div style="margin-top: 5px;">
        <ion-text class="m12" style="color: var(--ion-color-dis);">September 28</ion-text>
      </div>
    </div>
  </div>

</ion-content>